---
layout: page
title: All Categories
permalink: /categories/
---
{% for category in site.categories %}
<h3>{{ category[0] }}</h3>
<ul>
  {% for post in category[1] %}
  <li>
  <span>
	{%- assign date_format = site.codeaches.date_format | default: "%b %-d, %Y" -%}
	{%- if post.last_modified_at -%}
	{{ post.last_modified_at | date: date_format }}
	{%- else -%}
	{{ post.date | date: date_format }}
	{%- endif -%} 
  </span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}