 {% if page.popular-tutorials %}
<div class="bg-1">
    <h3 class="text-center">Most popular articles</h3>    
    
	{% for post in site.tags.popular %}

	<div class="row text-center">
      <div class="col-sm-6">
        <div class="thumbnail">
          <img src="{{ post.image }}" alt="Paris" width="100" height="75">
          <p><strong>{{ post.tiny_title }}</strong></p>
           <p>Posted on {{ post.date | date: "%B %-d, %Y" }}</p>
          <button class="btn" onclick="location.href = '{{ post.url | prepend: site.baseurl }}';">Read More</button>
        </div>
      </div>

    {% endfor %}  
</div>
{% endif %}