{%- assign moreThanOneInCategory = false -%}

{% for post in site.posts %}
  {% for post_category in post.categories %}  
    {% for page_category in page.categories %}
      {%- if page_category == post_category -%}
      {% unless prev_post_url == post.url %}
      {%- assign prev_post_url = post.url -%}
      {% unless post.url == page.url %}

      {% assign moreThanOneInCategory = true %}

      {% endunless %}
      {% endunless %}
      {%- endif -%}
    {% endfor %}
  {% endfor %}
{% endfor %}


{% unless moreThanOneInCategory == false %}
<p><strong>Related Posts:</strong></p>
{%- assign prev_post_url = "" -%}

{% for post in site.posts %}

  {% for post_category in post.categories %}  

    {% for page_category in page.categories %}

      {%- if page_category == post_category -%}

      {% unless prev_post_url == post.url %}

      {%- assign prev_post_url = post.url -%}

      {% unless post.url == page.url %}
      <ul><li>
	  <a href="{{ post.url }}">{{ post.title }}</a>
	  </li></ul>
      {% endunless %}

      {% endunless %}

      {%- endif -%}

    {% endfor %}

  {% endfor %}

{% endfor %}
{% endunless %}
