{% if page.show-share or page.show-subscribe %}
  <div class="share-section">
    <h1 class="share-title">Liked this tutorial?</h1>
    
    {% if page.show-share %}
      <div class="share-buttons">
        {% capture urlmessage %}{{ site.url }}/contact{% endcapture %}
        
        {% capture urlfb %}https://www.facebook.com/dialog/feed?app_id={{ site.fb_app_id }}&link={{ site.url }}{{ page.url }}&name={{ page.title }}&caption={{ site.url-pretty }}&redirect_uri={{ site.url }}{{ page.url }}?message=Thanks for sharing!{% endcapture %}
        {% if page.share-img %}
          {% capture urlfb %}{{ urlfb }}&picture={{ page.share-img }}{% endcapture %}
        {% endif %}

        {% capture urltwitter %}https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&via=codeaches{% endcapture %}
        {% if page.tags contains 'rstats' %}
          {% assign maxlength = 94 %}
          {% capture urltwitter %}{{ urltwitter }}&hashtags=rstats{% endcapture %}
        {% else %}
          {% assign maxlength = 102 %}
        {% endif %}
        {% capture urltwitter %}{{ urltwitter }}&text={{ page.title | truncate: maxlength }}{% endcapture %}
        
        <a href="{{ urlmessage }}" data-ga-event=1 data-ga-category="share" data-ga-action="message" data-ga-label="{{ page.url }}">
          Contact me
        </a>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=FLER29DWAYJ58&currency_code=USD&source=url" data-ga-event=1 data-ga-category="share" data-ga-action="donate" data-ga-label="{{ page.url }}">
          Support me
        </a>
      </div>
    {% endif %}

    {% if page.show-subscribe %}
      <div id="mailchimp-subscribe-section-share" class="mailchimp-subscribe-section">
        <div id="mc_embed_signup-share">
          <form action="https://codeaches.us7.list-manage.com/subscribe/post?u=2746d68f9670fbcdde3960057&amp;id=85935e12f3" method="post" id="mc-embedded-subscribe-form-share" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll-share">
      	      <label for="mce-EMAIL-share">Subscribe to Codeaches newsletter</label>
              <div class="container">
                <div class="row">
                  <div class="col-sm-8 col-xs-12">
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL-share" placeholder="Email" required="">
                  </div>
                  <div class="col-sm-4 col-xs-12">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe-share" class="button">
                  </div>
                </div>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2746d68f9670fbcdde3960057_85935e12f3" tabindex="-1" value=""></div>
            </div>
          </form>
        </div>
      </div>
    {% endif %} 

  </div>
{% endif %}
