---
layout: base
---
{% include header.html type="page" %}
<div class="container" role="main">
   <div class="row">
   
<div class="col-sm-2 sidenav">
     <script type="text/javascript">
       	amzn_assoc_ad_type = "banner";
	amzn_assoc_marketplace = "amazon";
	amzn_assoc_region = "US";
	amzn_assoc_placement = "assoc_banner_placement_default";
	amzn_assoc_campaigns = "kindlerotating";
	amzn_assoc_banner_type = "rotating";
	amzn_assoc_p = "14";
	amzn_assoc_width = "160";
	amzn_assoc_height = "600";
	amzn_assoc_tracking_id = "codeaches07-20";
	amzn_assoc_linkid = "73a98ab2108a0a9d667cb705cfcc4158";
     </script>
     <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
    </div>
	
   <!--
      <div class="col-lg-16 col-lg-offset-2 col-md-8 col-md-offset-1">
-->
<div class="col-sm-8 text-left">
         {% include carbonads.html %}
         {{ content }}
         {% if page.comments %}
         <div class="disqus-comments">
            {% include disqus.html %}
         </div>
         {% endif %}
      </div>
	  
	  
<div class="col-sm-2 sidenav">
     <script type="text/javascript">
       	amzn_assoc_ad_type = "banner";
	amzn_assoc_marketplace = "amazon";
	amzn_assoc_region = "US";
	amzn_assoc_placement = "assoc_banner_placement_default";
	amzn_assoc_campaigns = "kindlerotating";
	amzn_assoc_banner_type = "rotating";
	amzn_assoc_p = "14";
	amzn_assoc_width = "160";
	amzn_assoc_height = "600";
	amzn_assoc_tracking_id = "codeaches07-20";
	amzn_assoc_linkid = "73a98ab2108a0a9d667cb705cfcc4158";
     </script>
     <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
    </div>
	
	
   </div>
</div>